<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_securityt_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Accessories_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Contact_Us"
            android:exported="false" />
        <activity
            android:name=".Activities.About_Us"
            android:exported="false" />
        <activity
            android:name=".Activities.AddProduct"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".Activities.Signup"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ItemsListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.Spalsh_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>